@import './base.css';
html,
body {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: black !important;
}

#app {
  display: flex;
  flex: 1;
  font-weight: normal;
  background-color: black;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
}

button {
  background-color: #d6ffe7;
  border: 2px solid #509b70;
  border-radius: 6px;
  /* color: white; */
  padding: 2px;
  font-weight: 500;
  line-height: 1;
  width: 80px;
  height: 40px;
  cursor: pointer;
}
button:disabled {
  background-color: lightgray;
  border-color: gray;
  color: gray;
  cursor: initial;
}
button:not(:disabled):active {
  transform: scale(0.95);
  filter: brightness(0.9);
  --webkit-filter: brightness(0.9);
}

a,
a:hover,
a:visited {
  color: #cb382e;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  max-height: 180px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background: #262525;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cddae4;
  border-radius: 10px;
  box-shadow: 0 0 12px 6px #005c9c;
  padding: 8px;
  color: black;
}
.card .header,
.card .main,
.card .footer {
  width: 100%;
}
.card .footer {
  margin-top: 8px;
}

.card .header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  color: rgb(0 103 5);
  margin-bottom: 6px;
}
.card .main {
  display: flex;
  flex-flow: column;
  flex: 1;
  height: 100%;
}
.card label {
  color: #000000;
}
.card .footer {
  display: flex;
  justify-content: space-between;
}
.card .footer button.cancel {
  border-color: #ffad41;
  background-color: #fde5b9;
  color: black;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.icon.open-link {
  content: url(../assets/icons/open_link.svg);
}
.icon.delete {
  content: url(../assets/icons/delete.svg);
}
.icon.edit {
  content: url(../assets/icons/edit_square.svg);
}
.icon.add {
  content: url(../assets/icons/add_circle.svg);
}

/* -------------------------- */
.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: #00c2ff;
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(1rem);
  --webkit-filter: blur(1rem);
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation:
    aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: #ffc640;
  right: 0;
  top: 0;
  animation:
    aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: #33ff8c;
  left: 0;
  bottom: 0;
  animation:
    aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: #e54cff;
  right: 0;
  bottom: -50%;
  animation:
    aurora-border 6s ease-in-out infinite,
    aurora-4 16s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}
