@import './base.css';
html,
body {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex: 1;
  font-weight: normal;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
}

button {
  background-color: rgb(172, 114, 226);
  width: 80px;
  height: 40px;
  padding: 2px;
  border-radius: 6px;
  color: white;
  border: 2px solid blueviolet;
}
button:disabled {
  background-color: lightgray;
  border-color: gray;
  color: gray;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.85;
  width: 100%;
  height: 100%;
}